:root{
    --dark-color: #7c0a02;
    --dark-color2: #b22222;
    --light-color:#e25822;
    --light-color2: #f1bc31;

}
html{
    font-family: 'Ubuntu', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.top-container{
    background: linear-gradient(to right bottom, var(--dark-color),var(--dark-color2),var(--light-color),var(--light-color2));
    height: 450px;

}
h1{
    font-family: 'Indie Flower', cursive;
}
.top-wrapper{
    width: 600px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    
    
}
.middle-container{
    width: 800px;
    margin: 2rem auto;
    border: 1px solid red;

}
.cloud{
    position: absolute;

}
.mountain{
    position: absolute;
    bottom: 0;
    left: 0;

}
.cloud1{
    left: 10%;
    top: 20%;
}
.cloud2{
    right: 15%;
    top: 8%;
}
.underlined{
    text-decoration: underline;
}
.profile{
    width: 800px;
    margin: 2rem auto;
    text-align: center;
}

.profile_image{
    width: 50px;
}
.img-skill1{
    max-width: 60px;
    max-height: 60px;
    float: left;
    margin-right: 2rem;
    margin-top:2rem;
}
.img-skill2{
    max-width: 60px;
    max-height: 60px;
    float: right;
    margin-left: 1rem;
    margin-top:2rem;
}
.contact-me{
    text-align: center;
}
.btn {
    background: #d934b0;
    background-image: -webkit-linear-gradient(top, #d934b0, #3bb4ff);
    background-image: -moz-linear-gradient(top, #d934b0, #3bb4ff);
    background-image: -ms-linear-gradient(top, #d934b0, #3bb4ff);
    background-image: -o-linear-gradient(top, #d934b0, #3bb4ff);
    background-image: linear-gradient(to bottom, #d934b0, #3bb4ff);
    -webkit-border-radius: 24;
    -moz-border-radius: 24;
    border-radius: 24px;
    font-family: Georgia;
    color: #ebebeb;
    text-transform: uppercase;
    font-size: 18px;
    padding: 5px 13px 12px 14px;
    text-decoration: none;
    margin:1rem;
    display: inline-block;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .bottom-container{
      background-color: #d934b0;
      padding: 2rem 0;
      text-align: center;
  }
  .bottom-container a{
      display: inline-block;
      text-decoration: none;
      margin:1.5rem 1.5rem;
      color:rgb(135,58,97)
  }
  .bottom-container a:hover{
      color:white;
  }
