:root{
    --dark-color: #7c0a02;
    --dark-color2: #b22222;
    --light-color:#e25822;
    --light-color2: #f1bc31;

}
html{
    font-family: 'Ubuntu', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.top-container{
    background: linear-gradient(to right bottom, var(--dark-color),var(--dark-color2),var(--light-color),var(--light-color2));
    height: 450px;

}
h1{
    font-family: 'Indie Flower', cursive;
}
.top-wrapper{
    width: 600px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    
    
}
.middle-container{
    width: 800px;
    margin: 2rem auto;
    border: 1px solid red;

}
.cloud{
    position: absolute;

}
.mountain{
    position: absolute;
    bottom: 0;
    left: 0;

}
.cloud1{
    left: 10%;
    top: 20%;
}
.cloud2{
    right: 15%;
    top: 8%;
}
.underlined{
    text-decoration: underline;
}
.profile{
    width: 800px;
    margin: 2rem auto;
    text-align: center;
}

.profile_image{
    width: 50px;
}
.img-skill1{
    max-width: 60px;
    max-height: 60px;
    float: left;
    margin-right: 2rem;
    margin-top:2rem;
}
.img-skill2{
    max-width: 60px;
    max-height: 60px;
    float: right;
    margin-left: 1rem;
    margin-top:2rem;
}